/* vh = view height, 100 is the entire page, anything past that means you have to scroll to see the
whole page, palette colors height is set to 90% meaning 90% of the view height of the Palette
.slider is set to 35% width, meaning it will be as wide as 35% of the Palette page  */

.Palette {
    height: 100vh; 

}

.Palette-colors {
    height: 90%;
}

.slider {
    width: 35%;
    margin: 0 10px;
    display: inline-block;
}

.rc-slider-track {
    background-color: transparent;

}

.rc-slider-rail {
    height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus
 {
    background-color: green;
    outline: none;
    border: 2px solid green;
    box-shadow: none;
    width: 13px;
    height: 13px;
    margin-left: -7px;
    margin-top: -3px;
}