/* vh = view height, 100 is the entire page, anything past that means you have to scroll to see the
whole page, palette colors height is set to 90% meaning 90% of the view height of the Palette
.slider is set to 35% width, meaning it will be as wide as 35% of the Palette page  */

.Palette {
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.Palette-colors {
    height: 90%;
}

.Palette-footer {
    background-color: white;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.emoji {
    font-size: 1.5rem;
    margin: 0 1rem;
}